.page-footer {
    background-color: @title-background;
}

.page-footer__wrap {
    .container();
    .clearfix();
}

.page-footer__copyright {
    float: right;
    padding: 30px 0;

    width: 500px;

    text-align: right;

}

.page-footer__copyright-link {

    display: block;

    color: @text-color;
    font-weight: bold;

    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.2);
        color: #27fbe5;
        text-shadow: 0 2px 2px @text-color;
    }
}

