html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 2250px;
    margin: 0 auto;

    font-family: "OpenSansAdded", Arial, sans-serif;
    font-weight: normal;
    font-size: 31px;
    line-height: 56px;
    color: @text-color;
}
